{{ text }}
{%- if category == 'books' %} ([{{ location }}]({{ location_url }})){%- endif -%}
{%- if color %} %% Color: {{ color }} %%{%- endif -%}
 ^{{id}}
{%- if note %}

Note: {{ note }}
{%- endif -%}
{%- if tags %}

Tags: {{ tags }}
{%- endif -%}
{%- if url %}

[View Highlight]({{ url }})
{%- endif %}

---
